.movies {
  padding: 0 max(calc(50% - 570px), 70px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.movies__text-empty {
  padding: 30px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--color-main, #fff);
  flex: 1;
}

.movies__more-button {
  margin: 50px 0 80px;
  width: 100%;
  height: 36px;
  border-radius: 6px;
  background: var(--background-color-d, #303030);
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-main, #fff);
}

@media screen and (max-width: 768px) {
  .movies {
    padding: 0 30px;
  }
}

@media screen and (max-width: 420px) {
  .movies {
    padding: 0 10px;
  }
}